
/****************************
*                           *
*   Autor: Miguel Bojorge   *
*   Marzo de 2022           *
*   WCSIT.MX                *
*                           *
****************************/



@font-face {
    font-family: HelveticaNeueBold;
    src: url(../font/HelveticaNeueBold.ttf);
  }
  
@font-face {
    font-family: GilroyLight;
    src: url(../font/GilroyLight.ttf);
}

body, p{
    font-family: GilroyLight;
    color: #686c67;
}

.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: HelveticaNeueBold;
    color: #0061e5;
}

.h1{
    font-size: 40px;
}

.h2, .h3, .h4, .h5{
    font-size: 30px;
}

.lineDown{
    width: 100%;
    text-decoration: underline;
    border-bottom: solid 2px blue;
}

.inLine{
    position: absolute;
    display: inline-table;
    color: red;
    border: solid 10px;
}


h1 {
    position: relative;
  }

h1:after {
    position: absolute;
    content: "";
    display: block;
    width: 87%;
    height: 2px;
    background: #0061e5;
    right: 0px;
    top: 88%;
    z-index: -2;
}

#imgWho{
    width: 32px;
    height: auto;
}

#imgCity{
    width: 100%;
}

#imgVision{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.imgCert{
    width: 100%;
    height: auto;
    margin: 16px;
}

.carousel-item img{
    width: 100%;
}
.navDark{
    background-color: rgba(0,0,0,0.66)!important;
}
.nav-link{
    color: #c8c8c8;
}
.nav-link:hover{
    color: #fff;
}
.textJustified{
    text-align: justify;
}
br{
    margin-bottom: 12px;
}
.bg-lightgrey{
    background-color: #f6f6f6;
}

.bg-blue{
    background-color: #003b51;
    color: #fff;
}
.bg-green{
    background-color: #006847;
    color: #fff;
}
svg{
    margin: 8px;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 360px;
    margin: 0px;
    padding: 0px;
  }
  
  /* First image (Logo. Full height) */
  .bgimg-1 {
    background-image: url('../img/parallax1.jpg');
  }
  
  /* Second image (Portfolio) */
  .bgimg-2 {
    background-image: url("../img/parallax2.jpg");
  }
  
  /* Third image (Contact) */
  .bgimg-3 {
    background-image: url("../img/parallax3.jpg");
  }

  .screen-dark{
    background-color: rgba(0,32,64,0.66);
    width: 100%;
    height: 360px;
    z-index: 99;
}

#social-icon a{
    text-decoration: none;
}

#navBarra{
    padding: 5px 0px;
}

#img-logo{
    width: 96px;
    height: auto;
}
#submitButton{
    border: solid 1px #003b51;
    background-color: #003b51;
    color: #fff;
}

/****************************
*                           *
*   Classes para mobile     *
*                           *
****************************/

@media screen and (max-width: 992px) {
    h1:after {
        width: 82%;
        top: 86%;
    }

    #imgVision{
        width: 100%;
        position: static;
        bottom: 0;
    }
}


@media screen and (max-width: 768px) {
    h1:after {
        width: 78%;
        top: 89%;
    }
}

@media screen and (max-width: 480px) {
    h1:after {
        width: 74%;
        top: 86%;
    }
}@media screen and (max-width: 400px) {
    h1:after {
        width: 70%;
        top: 86%;
    }
}